.tasks-page {
  width: 100%;
  height: calc(100vh - 64px);
  position: relative;
  overflow: hidden;
}

.tasks-iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
}

.tasks-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

